// Buttons

.btn-primary {
  position: relative;
  padding: .5em 3em;
  background-color: #fee7e7;
  background-image: linear-gradient(#fbfafa, #fee7e7);
  color: $font-color-copy-light;
  font-family: $font-family-base;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #dbdbdb;
  outline: 3px solid $color-white;
  box-shadow: 0 0 0 4px #f0f0f0;

  &--small {
    padding-top: .25em;
    padding-left: 1em;
    padding-bottom: .25em;
    padding-right: 1em;
    font-size: .6875em;
  }

  &:hover {
    background-color: darken(#fee7e7, 5%);
    background-image: linear-gradient(darken(#fbfafa, 5%), darken(#fee7e7, 5%));
    transition: background-color 0.5s ease-in;
  }
}
