.footer-top {
  background-image: linear-gradient(#f2f2f2, $color-white);
  box-shadow: 0px -1px 2px 0px $color-light;
  @media (min-width: $desktop-view) {
    background-image: radial-gradient(#fdfdfd 40%, $color-white);
    box-shadow: inset 0px 5px 5px -5px $color-light;
  }
}

.footer-section {
  @media (max-width: $desktop-view) {
    border-bottom: 1px solid $color-light;
    &:first-child {
      border-top: 1px solid $color-light;
    }
  }
}

.footer-sub {
  position: relative;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: $font-color-copy-lighter;
  vertical-align: middle;
  &:before {
    position: absolute;
    top: 0;
    left: -40px;
    content: "";
    background-image: url('/images/color-strip.png');
    background-repeat: repeat-x;
    width: 1020px;
    height: 10px;

  }
  &__link {
    padding-top: .125em;
    padding-left: .5em;
    padding-bottom: .125em;
    padding-right: .5em;
    color: $font-color-copy-lighter;
    &:visited {
      color: $font-color-copy-lighter;
    }
  }
  &__link + &__link {
    border-left: 1px solid $font-color-copy-lighter;
  }
}

.follow-social {
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  margin-top: 2em;
}

.footer-newsletter-form {
  margin-top: 2em;
}

.footer-newsletter-input {
  width: 70%;
}

.footer-newsletter-send {
  margin-left: 2%;
  padding-left: .5em;
  padding-right: .5em;
  width: 25%;
}
