// Forms

form {
  position: relative;
}

// Most of this isn't used but this is to turn off iOS Safari styling of inputs
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"],
input[type="email"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  outline-offset: 0;
}

input[type="search"],
input[type="text"],
input[type="email"] {
  margin-left: auto;
  margin-right: auto;
  padding-top: .5em;
  padding-left: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
  font-style: italic;
  font-family: $font-family-base;
  background-image: linear-gradient(#e6e6e6, #fcfcfc);
  border: 1px solid #d6d6d6;
  outline: 3px solid $color-white;
  box-shadow: 0 0 0 4px #f0f0f0;
}

.search-label {
  position: absolute;
  top: .5em;
  right: .5em;
  background-color: transparent;
}

.search-btn {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0;
  text-indent: -9999px;
  border: none;
}

.hidden-label {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
