.grid-container {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  @media (min-width: $desktop-view) {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-column-gap: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.grid-span-1 {
  grid-column:  span 1;
}

.grid-span-2 {
  grid-column:  span 2;
}

.grid-span-3 {
  grid-column:  span 3;
}

.grid-span-4 {
  grid-column:  span 4;
}

.grid-span-5 {
  grid-column:  span 5;
}

.grid-span-6 {
  grid-column:  span 6;
}

.grid-span-7 {
  grid-column:  span 7;
}

.grid-span-8 {
  grid-column:  span 8;
}

.grid-span-9 {
  grid-column:  span 9;
}

.grid-span-10 {
  grid-column:  span 10;
}

.grid-span-11 {
  grid-column:  span 11;
}

.grid-span-12 {
  grid-column:  span 12;
}
