.header-site {
  padding-top: 1.5em;
  width: 100%;
  color: $font-color-copy-light;
  &__secondary {

  }
}

.nav-secondary {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: .5em;
  padding-right: .5em;
  font-style: italic;
  &__item {
    margin-left: 1em;
    color: $font-color-copy-light;
  }
  &__item--wide-mobile {
    @media (max-width: $desktop-view) {
      flex-grow: 4;
    }
  }
  @media (min-width: $desktop-view) {
    padding-bottom: 1em;
    border-bottom: 1px solid $color-lighter;
  }
}

.nav-secondary-desktop {
  flex-grow: 3;
  text-align: right;
  &__item {
    padding-top: .25em;
    padding-left: .5em;
    padding-bottom: .25em;
    padding-right: .5em;
    color: $font-color-copy-light;
  }
  &__item + &__item {
    border-left: 1px solid $font-color-copy-light;
  }
}

.nav-login--mobile {
  display: flex;
  margin-top: 1em;
  a {
    padding: .25em;
    width: 50%;
    color: $font-color-copy-light;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    & + a {
      border-left: 1px solid $color-light;
    }
  }
  @media (min-width: $desktop-view) {
    display: none;
  }
}

.site-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  &__item {
    padding: .5em;
    &:hover {
      background-color: $color-light;
      transition: all 1s ease;
      cursor: pointer;
    }
  }
  @media (max-width: $desktop-view) {
    display: none;
  }
}
