.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 360px;
}

.hero-item {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  @media (min-width: $desktop-view) {
    position: absolute;
    height: 360px;
  }
}

.hero__image {
  width: 100%;
  height: 205px;
  background-position-x: left;
  background-position-y: top;
  background-size: cover;
  box-shadow: inset 0 0 1px $color-lighter, inset 0 0 800px rgba(0, 0, 0, .33);
  @media (min-width: $desktop-view) {
    height: 360px;
    border: 1px solid $color-white;
    &:before {
      content: " ";
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border: 1px solid #f0efec;
    }
  }
}

.hero__copy {
  padding-bottom: 1em;
  text-align: center;
  @media (min-width: $desktop-view) {
    position: absolute;
    top: 0;
    right: 80px;
    padding-left: 40px;
    padding-right: 40px;
    width: 300px;
    height: 360px;
    background-image: linear-gradient(to bottom, transparent 0%, $color-white 75%);

  }
}

.hero__image-copy {
  position: absolute;
  left: 40px;
  bottom: 20px;
  color: $color-white;
  font-size: 1.125em;
  font-family: $font-family-script;
}
