.mobile-menu {
  position: absolute;
  top: 9em;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: .25em;
  padding-left: 1em;
  padding-bottom: 0;
  padding-right: 1em;
  width: 100%;
  background-color: $color-white;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #dedede;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #dedede;
  outline: 1px solid #cccccc;
  z-index: 8000;
  list-style: none;
  transform-origin: 0% 0%;
  transform: translate(101%, 0);
  transition: all .33s ease-in;

  &__toggle {
    position: absolute;
    top: 0;
    right: .25em;
    width: 2.25em;
    height: 1.5em;
    opacity: 0;
    &:checked ~ .mobile-menu {
      width: 100%;
      height: auto;
      transform-origin: 100% 0%;
      transform: translate(0, 0);
      transition: all .33s ease-in;
    }
  }
}

.mobile-menu__item {
  display: block;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  font-size: 1.125em;
  font-style: normal;
  text-transform: uppercase;
  border-top: 1px solid $color-light;
}

.mobile-menu__search {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
