// Typography

h1,
h2,
h3,
h4,
h5 {
  margin-left: 0;
  margin-right: 0;
  color: $font-color-heading;
  font-weight: 400;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2.25em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
}

h3 {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.75em;
  font-weight: normal;
}

@media (min-width: $desktop-view) {
  .heading-xl {
    margin-top: .5em;
    margin-bottom: .25em;
    font-size: 3.75em;
    line-height: 1;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
  }
}

.lead-copy {
  font-family: $font-family-script;
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.strong {
  font-weight: bold;
}
