// Utility Classes & Mixins

.desktop-hide {
  @media (min-width: $desktop-view) {
    display: none;
  }
}

.mobile-hide {
  @media (max-width: $desktop-view) {
    display: none;
  }
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.list-unstyle {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 1em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  li {
    padding-top: .25em;
    padding-bottom: .25em;
  }
}

.push-right {
  float: right;
}

// Drop down menu

.nav-dropdown {
  position: relative;
  > ul {
    position: absolute;
    top: 2em;
    left: 0;
    display: none;
    margin: 0;
    padding: .5em;
    width: 160%;
    max-width: 300px;
    background-color: $color-white;
    border: 1px solid $color-light;
    list-style: none;
    z-index: 9999;
    > li {
      padding: .5em;
      & + li {
        border-top: 1px solid $color-light;
      }
    }
  }
  &:hover > ul {
    display: block
  }
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Products
.featured-products {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 3em;
    border-bottom: 1px solid $color-lighter;
  }
  &__product {
    display: block;
    margin-bottom: 2em;
  }
}

.product-img,
.product-copy {
  margin-left: auto;
  margin-right: auto;
}

.product-img {
  text-align: center;
}

.product-copy {
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0;
  width: 80%;
}

.welcome {
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid $color-light;
}

.wrapper {
  background-color: $color-white;
  @media (min-width: $desktop-view) {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 1020px;
    box-shadow: 0 0 5px $color-light;
  }
}

.logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 5px 20px -15px rgba(240,240,240,1);
  @media (max-width: $desktop-view) {
    justify-content: center;
  }
  &__item-side {
    padding-left: 1em;
    width: 200px;
    @media (max-width: $desktop-view) {
      display: none;
    }
  }
}

.logo-image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
