// Colors
$color-white:               #ffffff;
$color-dark:                #000000;
$color-light:               #e6e6e6;
$color-lighter:             #f0f0f0;
$color-pink:                #fde6e6;
$color-blue:                #7594b7;

// Typography
$font-family-base:          "Georgia", sans-serif;
$font-family-script:        "Alex Brush", cursive;
$font-size-base:            .875em;
$font-color-copy-main:      #333333;
$font-color-copy-light:     #666666;
$font-color-copy-lighter:   #999999;
$font-color-heading:        $color-blue;

// Buttons
$btn-primary-color:         $color-pink;

// Mobile size
$mobile-view:               767px;
// Desktop + Tablet Landscape size
$desktop-view:              992px;
