@import "variables";
@import "type";
@import "utility";
@import "forms";
@import "buttons";
@import "grid";
@import "header";
@import "mobile-menu";
@import "footer";
@import "hero";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $font-color-copy-main;
  @media (min-width: $desktop-view) {
    background-image: url('/images/body-bg.png');
    background-repeat: repeat-x;
  }
  &:before {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background-image: url('/images/color-strip.png');
    background-repeat: repeat-x;
    content: " ";
  }
}

a,
a:-webkit-any-link {
  color: $font-color-copy-main;
  text-decoration: none;
  &:visted,
  &:hover {
    color: $font-color-copy-main;
  }
}

a.underline {
  text-decoration: underline;
}

img {
  vertical-align: middle;
}
