<div class="footer-top">
  <div class="grid-container">
    <section class="footer-section grid-span-2">
      <h3 class="footer-heading" data-id="accordion-toggle">
        About Us
        <span class="push-right desktop-hide">
          <span data-id="accordion-toggle-show">&#x2b;</span>
          <span data-id="accordion-toggle-hide">&#8722;</span>
        </span>
      </h3>
      <ul class="list-unstyle uppercase">
        <li>
          <a href="#">Our Story</a>
        </li>
        <li>
          <a href="#">Baby Registry</a>
        </li>
        <li>
          <a href="#">Store Location</a>
        </li>
        <li>
          <a href="#">Testimonials</a>
        </li>
      </ul>
    </section>

    <section class="footer-section grid-span-2">
      <h3 class="footer-heading" data-id="accordion-toggle">
        Service
        <span class="push-right desktop-hide">
          <span data-id="accordion-toggle-show">&#x2b;</span>
          <span data-id="accordion-toggle-hide">&#8722;</span>
        </span>
      </h3>
      <ul class="list-unstyle uppercase">
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Order Status</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Shipping Policy</a>
        </li>
        <li>
          <a href="#">Return Policy</a>
        </li>
        <li>
          <a href="#">Newsletter</a>
        </li>
        <li>
          <a href="#">My Account</a>
        </li>
        <li>
          <a href="#">Live Chat</a>
        </li>
      </ul>
    </section>

    <section class="footer-section grid-span-2">
      <h3 class="footer-heading" data-id="accordion-toggle">
        Shop
        <span class="push-right desktop-hide">
          <span data-id="accordion-toggle-show">&#x2b;</span>
          <span data-id="accordion-toggle-hide">&#8722;</span>
        </span>
      </h3>
      <ul class="list-unstyle uppercase">
        <li>
          <a href="#">Baby Apparel</a>
        </li>
        <li>
          <a href="#">Baby Gifts</a>
        </li>
        <li>
          <a href="#">Christening</a>
        </li>
        <li>
          <a href="#">Furniture</a>
        </li>
        <li>
          <a href="#">Bedding</a>
        </li>
        <li>
          <a href="#">Decor</a>
        </li>
        <li>
          <a href="#">Lighting</a>
        </li>
        <li>
          <a href="#">Sale</a>
        </li>
        <li>
          <a href="#">Brands</a>
        </li>
      </ul>
    </section>

    <section class="grid-span-3">
      <h3>Contact Us</h3>
      <p>
        <!-- I'd make this a google maps link -->
        <span class="uppercase">Beautiful Beginnings</span>
        <br>
        4472 Lawn Avenue
        <br>
        Western Springs, IL. 60558
      </p>
      <p>
        <a href="tel:708-246-1212">708.246.1212</a>
      </p>
      <p>
        <span class="uppercase">Store Hours:</span>
        <br>
        Monday - Friday 10am - 5:30pm
        <br>
        Saturday - 10am - 5pm
        <br>
        Sunday - Closed
      </p>
    </section>

    <section class="grid-span-3">
      <h3>Follow Us</h3>
      <div class="follow-social">
        <a class="" href="#">
          <img src="images/icons/icon-social-fb.png" alt="Facebook">
        </a>
        <a class="" href="#">
          <img src="images/icons/icon-social-twitter.png" alt="Twitter">
        </a>
        <a class="" href="#">
          <img src="images/icons/icon-social-pinterest.png" alt="Pinterest">
        </a>
        <a class="" href="#">
          <img src="images/icons/icon-social-youtube.png" alt="Youtube">
        </a>
        <a class="" href="#">
          <img src="images/icons/icon-social-gplus.png" alt="Google+">
        </a>
      </div>

      <h3>Newsletter</h3>
      <article>
        Get the latest promotions and special offers delivered directly to your inbox!
      </article>
      <form class="footer-newsletter-form">
        <label class="hidden-label" for="newsletter-email">Email</label>
        <input id="newsletter-email" class="footer-newsletter-input" type="email" placeholder="Email Address..." >
        <button class="btn-primary footer-newsletter-send" type="submit">Send</button>
      </form>
    </section>
  </div>
</div>

<section class="footer-sub text-center desktop-hide">
  <div class="container">
    <div class="logo">
      <img class="logo-image" src="images/logo.png" alt="Beautiful Beginnings">
    </div>
    <p>
      ©2017 Beautiful Beginnings. All Rights Reserved
    </p>
    <p>
      <a class="footer-sub__link" href="#">Site Map</a>
      <a class="footer-sub__link" href="#">Privacy Policy</a>
      <a class="footer-sub__link" href="#">Terms & Conditions</a>
    </p>
    <p class="footer-logo">
      <img src="images/powered-by-ae.png" alt="Powered by American Eagle">
    </p>
  </div>
</section>


<section class="footer-sub mobile-hide">
  <div class="grid grid-container">
    <div class="grid-span-9">
      <p>
        ©2017 Beautiful Beginnings. All Rights Reserved
        <a class="footer-sub__link" href="#">Site Map</a>
        <a class="footer-sub__link" href="#">Privacy Policy</a>
        <a class="footer-sub__link" href="#">Terms & Conditions</a>
      </p>
      <p>
        <img src="images/powered-by-ae.png" alt="Powered by American Eagle">
        &nbsp; Web Site design and development by Americaneagle.com
      </p>
    </div>

    <div class="grid-span-3">
      <p>
        <img class="logo-image" src="images/logo.png" alt="Beautiful Beginnings">
      </p>
    </div>
  </div>
</section>
