<nav class="nav-secondary">
  <div class="nav-secondary__item--wide-mobile">
    Call us at: <a href="tel:708-246-1212"><span class="strong">708-246-1212</span></a>
  </div>

  <div class="nav-secondary__item mobile-hide">
    <a class="btn-primary btn-primary--small" href="#">
      Live Chat Now
    </a>
  </div>

  <div class="nav-secondary-desktop mobile-hide">
    <a class="nav-secondary-desktop__item" href="#">
      Baby Registry
    </a>
    <a class="nav-secondary-desktop__item" href="#">
      Login / Register
    </a>
    <a class="nav-secondary-desktop__item" href="#">
      5 items &middot; Check Out <strong>$&nbsp;2103.92</strong>
    </a>
  </div>

  <div class="desktop-hide">
    <a class="nav-secondary__item" href="#">
      <img src="images/icons/icon-cart.png" alt="cart">
    </a>
  </div>

  <!-- Mobile Menu -->
  <div class="desktop-hide">
    <a class="nav-secondary__item" href="#">
      <img src="images/icons/icon-menu.png" alt="menu">
    </a>
    <input class="mobile-menu__toggle" type="checkbox">
    <ul class="mobile-menu">
      <li>
        <form>
          <input class="mobile-menu__search" type="search" placeholder="Search this site..." >
          <label class="search-label">
            <img src="images/icons/icon-search.svg" alt="Search" width="17px" height="17px" >
            <input class="search-btn" type="submit">
          </label>
        </form>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Baby Apparel
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Baby Gifts
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Christening
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Furniture
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Bedding
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Decor
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Lighting
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Sales
        </a>
      </li>

      <li>
        <a class="mobile-menu__item" href="#">
          Brands
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="logo-row">
  <aside class="logo-row__item-side lead-copy text-center">
    Children. Our greatest earthly blessings.
  </aside>
  <img class="logo-row__item-logo" src="images/logo.png" alt="Beautiful Beginnings">
  <aside class="logo-row__item-side text-right">
    <form>
      <input class="mobile-menu__search" type="search" placeholder="Search this site..." >
      <label class="search-label">
        <img src="images/icons/icon-search.svg" alt="Search" width="17px" height="17px" >
        <input class="search-btn" type="submit">
      </label>
    </form>
  </aside>
</div>

<nav class="site-nav">
  <a class="site-nav__item" href="#">
    Baby Apparel
  </a>

  <a class="site-nav__item" href="#">
    Baby Gifts
  </a>

  <span class="site-nav__item nav-dropdown" href="#">
    Christening
    <ul>
      <li>
        <a href="">Silver</a>
      </li>
      <li>
        <a href="">All Christening</a>
      </li>
    </ul>
  </span>

  <a class="site-nav__item" href="#">
    Furniture
  </a>

  <a class="site-nav__item" href="#">
    Bedding
  </a>

  <a class="site-nav__item" href="#">
    Decor
  </a>

  <a class="site-nav__item" href="#">
    Lighting
  </a>

  <a class="site-nav__item" href="#">
    Sale
  </a>

  <a class="site-nav__item" href="#">
    Brands
  </a>
</nav>

<div class="nav-login--mobile">
  <a href="">
    Baby Registry
  </a>
  <a href="">
    Login/Register
  </a>
</div>
