<section class="hero">
  <div class="hero-item">
    <div class="hero__image"
         style="background-image: url('images/hero/hero-baby.png')">
    </div>

    <div class="hero__copy">
      <h1 class="heading-xl">Crib Bedding Sale</h1>
      <p class="lead-copy">
        Save up to 50% off on select crib bedding now through Memorial Day!
      </p>
      <a class="btn-primary" href="#">
        Shop Crib Bedding
      </a>
    </div>

    <span class="hero__image-copy mobile-hide">
      Baby Dean - Wheaton, Illinois
    </span>
  </div>

  <div class="hero-item">
    <div class="hero__image"
         style="background-image: url('images/hero/hero-crib.png')">
    </div>

    <div class="hero__copy">
      <h1 class="heading-xl">Crib Bedding Sale</h1>
      <p class="lead-copy">
        Save up to 50% off on select crib bedding now through Memorial Day!
      </p>
      <a class="btn-primary" href="#">
        Shop Crib Bedding
      </a>
    </div>

    <span class="hero__image-copy mobile-hide">
      Baby Dean - Wheaton, Illinois
    </span>
  </div>
</section>

<section class="grid-container text-center">
  <div class="grid-span-3">
    <div class="featured-products__product">
      <h2>Featured Products</h2>
      <p class="lead-copy">
        Lorem ipsum dolor sit amet, eu ius erat commune, facer semper sea ad.
      </p>
      <a class="btn-primary" href="">
        See All
      </a>
    </div>
  </div>

  <div class="grid-span-3">
    <a class="featured-products__product" href="#product">
      <div class="product-img">
        <img src="images/products/hazelruffletop.png" alt="Hazel Ruffle Top and Capri Set by Angel Dear">
      </div>
      <p class="product-copy">
        Hazel Ruffle Top and Capri Set by Angel Dear
      </p>
      <p class="product-copy">
        <strong>$49.00</strong>
      </p>
    </a>
  </div>

  <div class="grid-span-3">
    <a class="featured-products__product" href="#product">
      <div class="product-img">
        <img src="images/products/alexiscrib.png" alt="Alexis Crib with Rose Garland by Newport Cottages">
      </div>
      <p class="product-copy">
        Alexis Crib with Rose Garland by Newport Cottages
      </p>
      <p class="product-copy">
        <strong>$1,395.00</strong>
      </p>
    </a>
  </div>

  <div class="grid-span-3">
    <a class="featured-products__product" href="#product">
      <div class="product-img">
        <img src="images/products/littlegplush.png" alt="Little G Plush Giraffe by Little Giraffe">
      </div>
      <p class="product-copy">
        Little G Plush Giraffe by Little Giraffe
      </p>
      <p class="product-copy">
        <strong>$42.00</strong>
      </p>
    </a>
  </div>
</section>

<section class="welcome">
  <h2>We Love Babies</h2>
  <p>
    Beautiful Beginnings offers finely crafted baby cribs as well as complete suites of nursery furniture, from traditional to contemporary. All of the finest names in crib bedding and baby blankets are featured with thousands of fabrics available to customize your baby crib. We offer everything you need to personalize your baby nursery with one of a kind nursery decor from distinctive lamps, clocks, wall hangings, picture frames and other decorative items. 
  </p>
  <p>
    To receive a gift from Beautiful Beginnings is a new mom’s biggest wish. There are so many unique and beautiful baby gifts to select from including baby burp cloths, designer diaper bags, baby clothes and many baby toys. Whether you are looking for Christening gifts, a baby shower gift, a newborn gift or even a gift for a child’s third birthday, we have many baby gifts to choose from. And to add to the pleasure, Beautiful Beginnings offers complimentary gift wrap in their "exclusive" gift wrap and daily shipping of gifts via UPS. One stop shopping for all family and friends.
    <a class="underline" href="#">More About Us</a>
  </p>
  <p class="lead-copy text-right">
    Love, Debbie & Jackie
  </p>
</section>
